
disaudiobot/bin/Release/libopus-0.dll
.vs/disaudiobot/v15/.suo
.vs/disaudiobot/v15/Server/sqlite3/storage.ide-shm
disaudiobot/bin/Release/AUTHORS
disaudiobot/bin/Release/config.json
disaudiobot/bin/Release/COPYING
*.json
disaudiobot/bin/Release/config.json
disaudiobot/bin/Release/ffmpeg.exe
disaudiobot/bin/Release/libeay32.dll
disaudiobot/bin/Release/libgcc_s_sjlj-1.dll
disaudiobot/bin/Release/libogg-0.dll
disaudiobot/bin/Release/libopusfile-0.dll
disaudiobot/bin/Release/SHA256SUMS.txt
disaudiobot/bin/Release/ssleay32.dll
disaudiobot/bin/Release/README.md
disaudiobot/bin/Release/opusfile_example.exe
disaudiobot/bin/Release/opusfile.h
disaudiobot/bin/Release/opus.dll
disaudiobot/bin/Release/libwinpthread-1.dll
disaudiobot/bin/Release/libsodium.dll
disaudiobot/bin/Release/libopusurl.dll.a
disaudiobot/bin/Release/libopusurl.a
disaudiobot/bin/Release/libopusfile.dll.a
disaudiobot/bin/Release/libopusurl-0.dll
disaudiobot/bin/Release/seeking_example.exe
disaudiobot/bin/Release/servers/411494600461516801/118780673.dat
*.mp3
disaudiobot/bin/Release/libopusfile.a
disaudiobot/bin/Release/config.json
disaudiobot/bin/Release/config.json
disaudiobot/bin/Release/servers/295536096476135424/118780673.dat
disaudiobot/bin/Release/servers/411494600461516801/90706162.dat
disaudiobot/bin/Release/config.json
